<!DOCTYPE html>
<html>
  <head>
    <%# 各ビューのprovideメソッドで:titleを定義し、レイアウトのyieldメソッドで取得します %>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%# <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%# content_tagは第１引数がタグ、第２引数がタグの内容、第３引数がclassなどのオプション %>
        <%= content_tag(:div, message.html_safe, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
